@import "tailwindcss";

:root {
    color-scheme: light;
}

body {
    /*@apply bg-background text-foreground;*/
}
@keyframes shimmer {
    0% { transform: translateX(0); }
    100% { transform: translateX(200%); }
}
